h3{
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 30px;
	margin-top: 80px;
}
h6{
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	margin-top: -20px;
	
}
#fform{
	text-align: center;
	font-family: 'Pragati Narrow', sans-serif;
	margin-top: -10px;

}
#op{
	width: 50px;

}
#output{
	height: 70px;
	width: 234px;
	margin: 0 auto;
	border-color: #8CA1AC;
	border-style: solid;
	border-width: thin; 
	margin-top: 8px;
}
#output2{
	text-align: center;
	font-family: 'Pragati Narrow', sans-serif;
	margin-top: 15px;

}